# Version Control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.config

# IDE
.vscode/
.idea/

# Tests / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# Docs
README.md
LICENSE
